                                  <div class="card">
                                        <div class="card-header">
                                        <i class="fa fa-align-justify"></i> SEARCH FORM
                                        </div>
                                            <div class="card-body">
                                                <ul class="nav nav-pills nav-fill flex-column">
                                                  <form method="get" >
                                                          {{ forms}}
                                                    <button class="btn btn-primary btn-sm btn-block mt-2" type="submit">
                                                    <i class="fa fa-dot-circle-o"></i> Submit</button>
                                                </form>
                                                </ul>
                                            </div>
                                  </div>