{% load static %}
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="#">Settings</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'src/img/avatars/6.jpg' %}" class="img-avatar" alt="admin@bootstrapmaster.com">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'logout' %}" ><i class="fa fa-bell-o"></i> Logout</a>
                <a class="dropdown-item" href="{% url 'register_update' %}" ><i class="fa fa-bell-o"></i>Update</a>
                <a class="dropdown-item" href="{% url 'change_password' %}" ><i class="fa fa-bell-o"></i>Change Password</a>


                {% else %}



                <a class="dropdown-item" href="{% url 'login' %}" ><i class="fa fa-bell-o"></i> Login</a>
                <a class="dropdown-item" href="{% url 'register' %}" ><i class="fa fa-bell-o"></i> Register</a>
                {% endif %}
            </div>
        </li>
    </ul>
    <button class="navbar-toggler aside-menu-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% block navbar %}
    {% endblock %}

</header>