{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} chane password {% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-4 offset-4 mt-4 mb-3">
       <h3 style="text-align:center;color:#007BFF;">change your password</h3>
        <hr style="margin-bottom:30px; border: 0;height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,123,255), rgba(0, 0, 0, 0));">
          <form method="post" action="{% url 'change_password' %}">{% csrf_token %}

                 {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                      <button type = "button" class="close" data-dismiss = "alert">x</button>
                      <p>Problem ! try again  </p>
                     </div>
                 {% endif %}

            {{ form | crispy}}
              <input type="submit" value="change password" class="btn  btn-block btn-primary">
          </form>
        </div>
    </div>
{% endblock %}